@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NCDSB CAREERS</h1>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Discover your Opportunity &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search by  </h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Filter &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search by Department</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Filter &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search by Locations</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Filter &raquo;</a></p>
    </div>
</div>